.card {
  display: flex;
  flex-direction: column;

  color: $card-color-text;
  background-color: $card-color-background;

  border: $card-border;
  border-radius: $card-border-radius;

  .card-header {
    border-bottom: $card-header-border;
  }

  .card-footer {
    border-top: $card-footer-border;
  }
}
