.btn {
  &--primary {
    color: $btn-primary-color;
    background-color: $btn-primary-background-color;
    border: $btn-primary-border;
    
    &:hover {
      background-color: $btn-primary-hover-background-color;
    }
  }

  &--sm {
    @extend #{$btn-sm-font};

    text-decoration: $btn-sm-text-decoration;

    padding-top: $btn-sm-padding-top;
    padding-bottom: $btn-sm-padding-bottom;
    padding-left: $btn-sm-padding-left;
    padding-right: $btn-sm-padding-right;

    border-top-left-radius: $btn-sm-border-radius-top-left;
    border-top-right-radius: $btn-sm-border-radius-top-right;
    border-bottom-left-radius: $btn-sm-border-radius-bottom-left;
    border-bottom-right-radius: $btn-sm-border-radius-bottom-right;
  }

  &--md {
    @extend #{$btn-md-font};

    text-decoration: $btn-md-text-decoration;

    padding-top: $btn-md-padding-top;
    padding-bottom: $btn-md-padding-bottom;
    padding-left: $btn-md-padding-left;
    padding-right: $btn-md-padding-right;

    border-top-left-radius: $btn-md-border-radius-top-left;
    border-top-right-radius: $btn-md-border-radius-top-right;
    border-bottom-left-radius: $btn-md-border-radius-bottom-left;
    border-bottom-right-radius: $btn-md-border-radius-bottom-right;
  }

  &--lg {
    @extend #{$btn-lg-font};

    text-decoration: $btn-lg-text-decoration;
    
    padding-top: $btn-lg-padding-top;
    padding-bottom: $btn-lg-padding-bottom;
    padding-left: $btn-lg-padding-left;
    padding-right: $btn-lg-padding-right;

    border-top-left-radius: $btn-lg-border-radius-top-left;
    border-top-right-radius: $btn-lg-border-radius-top-right;
    border-bottom-left-radius: $btn-lg-border-radius-bottom-left;
    border-bottom-right-radius: $btn-lg-border-radius-bottom-right;
  }
}
