.btn {
  &--primary {
    color: $btn-primary-color;
    background-color: $btn-primary-background-color;
    border: $btn-primary-border;
    
    &:hover {
      background-color: $btn-primary-hover-background-color;
    }
  }

  &--sm {
    @extend #{$btn-sm-font};

    text-decoration: $btn-sm-text-decoration;
    padding: $btn-sm-padding;
    border-radius: $btn-sm-border-radius;
  }

  &--md {
    @extend #{$btn-md-font};

    text-decoration: $btn-md-text-decoration;
    padding: $btn-md-padding;
    border-radius: $btn-md-border-radius;
  }

  &--lg {
    @extend #{$btn-lg-font};

    text-decoration: $btn-lg-text-decoration;
    padding: $btn-lg-padding;
    border-radius: $btn-lg-border-radius;
  }
}
