@mixin gen_border_color_classes($colors) {
  @each $name, $color in $colors {
    .bl-#{$name},
    .bx-#{$name},
    .b-#{$name}  {
      border-left-color: $color;
    }

    .br-#{$name},
    .bx-#{$name},
    .b-#{$name}  {
      border-right-color: $color;
    }

    .bt-#{$name},
    .by-#{$name},
    .b-#{$name}  {
      border-top-color: $color;
    }

    .bb-#{$name},
    .by-#{$name},
    .b-#{$name}  {
      border-bottom-color: $color;
    }
  }
}

@include gen_border_color_classes($neutral-colors);
@include gen_border_color_classes($primary-colors);
@include gen_border_color_classes($secondary-colors);
@include gen_border_color_classes($tertiary-colors);
@include gen_border_color_classes($accent-colors);
@include gen_border_color_classes($info-colors);
@include gen_border_color_classes($success-colors);
@include gen_border_color_classes($warning-colors);
@include gen_border_color_classes($error-colors);
@include gen_border_color_classes($special-colors);

@mixin gen_border_width_classes() {
  @for $i from 0 through 16 {
    .bl-#{$i},
    .bx-#{$i},
    .b-#{$i} {
      border-left-width: space($i);
      border-left-style: solid;
    }
    
    .br-#{$i},
    .bx-#{$i},
    .b-#{$i} {
      border-right-width: space($i);
      border-right-style: solid;
    }

    .bt-#{$i},
    .by-#{$i},
    .b-#{$i} {
      border-top-width: space($i);
      border-top-style: solid;
    }

    .bb-#{$i},
    .by-#{$i},
    .b-#{$i} {
      border-bottom-width: space($i);
      border-bottom-style: solid;
    }
  }

  @each $name, $i in ("q": 0.25, "quarter": 0.25, "h": 0.5, "half": 0.5) {
    .bl-#{$name},
    .bx-#{$name},
    .b-#{$name} {
      border-left-width: space($i);
      border-left-style: solid;
    }
    
    .br-#{$name},
    .bx-#{$name},
    .b-#{$name} {
      border-right-width: space($i);
      border-right-style: solid;
    }

    .bt-#{$name},
    .by-#{$name},
    .b-#{$name} {
      border-top-width: space($i);
      border-top-style: solid;
    }

    .bb-#{$name},
    .by-#{$name},
    .b-#{$name} {
      border-bottom-width: space($i);
      border-bottom-style: solid;
    }
  }
  
  @for $i from 1 through 2 {
    .bl-#{$i}px,
    .bx-#{$i}px,
    .b-#{$i}px {
      border-left-width: #{$i}px;
      border-left-style: solid;
    }
    
    .br-#{$i}px,
    .bx-#{$i}px,
    .b-#{$i}px {
      border-right-width: #{$i}px;
      border-right-style: solid;
    }

    .bt-#{$i}px,
    .by-#{$i}px,
    .b-#{$i}px {
      border-top-width: #{$i}px;
      border-top-style: solid;
    }

    .bb-#{$i}px,
    .by-#{$i}px,
    .b-#{$i}px {
      border-bottom-width: #{$i}px;
      border-bottom-style: solid;
    }
  }
}

@include gen_border_width_classes();

@mixin gen_border_radius_classes() {
  @for $i from 0 through 16 {
    .btl-radius-#{$i},
    .bt-radius-#{$i},
    .b-radius-#{$i} {
      border-top-left-radius: space($i);
    }
    
    .btr-radius-#{$i},
    .bt-radius-#{$i},
    .b-radius-#{$i} {
      border-top-right-radius: space($i);
    }

    .bbl-radius-#{$i},
    .bb-radius-#{$i},
    .b-radius-#{$i} {
      border-bottom-left-radius: space($i);
    }
    
    .bbr-radius-#{$i},
    .bb-radius-#{$i},
    .b-radius-#{$i} {
      border-bottom-right-radius: space($i);
    }
  }
}

@include gen_border_radius_classes();